.main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;

  .left {
     .f {
       font-size: 22px;
       font-weight: 400;
       color: black;
     }

    .s {
      font-size: 18px;
      font-weight: 400;
      color: #808080;
    }
  }

  .right {

  }
}