.main {
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    display: flex;
    align-items: center;
    justify-content: center;
    .di {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

}

@media screen and (max-width: 576px) and (min-width: 300px) {
  .main {
    width: 100%;
    form {
      flex-direction: column;
      width:  100%;
      .di {
        flex-direction:  column !important;
        width: 100%;
      }
    }

  }
}

@media screen and (max-width: 1024px) {

  .main {
    form {
      width:  90%;
      flex-wrap:  wrap;
      .di {
        flex-direction:  column !important;
        width: 100%;
      }
    }
  }

}